body {
  font-family: "Roboto", sans-serif;
  color: var(--dark-black);
  margin: 0;
}

:root {
  --blue-hover: #2196f3;
  --dark-black: #212121;
  --gray: #757575;
  --footer-color: #2f303a;
  --black: #000000;
  --light-gray: #f5f4fa;
}

/*stylizacja przyciskow button*/

.button-2th {
  color: #212121;
  background-color: #F5F4FA;
  box-sizing: border-box;
  height: 38px;
  padding: 0 24px;
  border: none;
  border-radius: 0.2em;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.62;
  font-weight: 500;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 121px;
}

.button-2th:hover{
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
background-color: #2196F3;
}

.margin-bottom0 {
  margin-bottom: 0;
}

.button-flex {
  margin: 0px;
  padding: 0px 0 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

/* stylizacvja navigacji*/

.navigation {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  padding: 0px 46px 0 0;
}

li:last-child {
  padding: 0px;
}

.flex-3x {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0 15px;
  margin: 0;
  justify-content: space-around;
}

.center {
  text-align: center;
  padding-bottom: 50px;
  margin: 0;
  font-size: 36px;
}

.navigation:hover {
  color: var(--blue-hover);
}

/* LOREM IPSUM index.html *4*/

.loremipsum-h3 {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.text-under-lorem {
  color: var(--gray);
  font-size: 14px;
  line-height: 1.71;
}

/*- logo web studio */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
  color: inherit;
  padding: 24px 93px 25px 0px;
}

.logo:visited {
  color: black;
}

/* web */
.blue {
  color: var(--blue-hover);
}

/* @ tel top */

.gray-links {
  color: var(--gray);
  text-decoration: none;
  font-size: 14px;

  padding: 32px 0 32px 50px;
}

.gray-links:hover {
  color: var(--blue-hover);
}

.text-under-photo {
  font-weight: bold;
  font-size: 16px;
  color: inherit;
  margin: 0px;
  padding: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-top: 26px;
}

.figcaption-2th {
  color: var(--gray);
  font-size: 16px;
  margin: 0;
  padding: 10px;
  padding-left: 0;
  padding-top: 10px;
  margin-bottom: 16px;
}

/*adresy w stopce */
.addres-bottom-white-dc {
  text-decoration: none;
  font-style: normal;
  line-height: 2;
  color: white;
}
.addres-bottom-white-dc:visited {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
}
.addres-bottom-white-dc:hover {
  text-decoration: underline;
}
.email-addres-bottom-grey {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 2.71;
  font-size: 14px;
  margin: 19px 0;
  font-style: normal;
}
.email-addres-bottom-grey:hover {
  text-decoration: underline;
}

.pad40 {
  padding: 0px 0;
  margin: 0;
}

.telephone-number-grey {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  font-size: 14px;
}
.telephone-number-grey:hover {
  text-decoration: underline;
}

/*wylaczenie kropek w ul*/
ul {
  list-style: none;
}

/*index.html baner*/

.text-main-banner {
  font-family: roboto;
  font-style: normal;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  font-size: 44px;
  margin: 0px;
  padding-top: 121px;
  margin-bottom: 30px;
}

/* stopka szare tlo */
.footer-grey {
  background-color: var(--footer-color);
  padding: 60px 0;
}

.logo-studio-white {
  color: #ffffff;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section-pad0 {
  padding-top: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.padding0px {
  padding-bottom: 0px;
}

.flex9x9 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  align-content: stretch;
}

figure {
  margin: 0;
  display: block;
}

.baground-grey {
  background-color: var(--footer-color);
}

figcaption {
  padding-left: 24px;
  border-bottom: 1px #eeeeee solid;
  border-left: 1px #eeeeee solid;
  border-right: 1px #eeeeee solid;
}

img {
  display: block;
}

/* naglowek */
.header-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: ;
}

.header-flex-third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: ;
}

.grey-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* agencja porfolio kontakt */
.navigation-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-inline-start: 0px;
}

.bottom-line {
  border-bottom: 1px solid #ececec;
  height: 80px;
}

.bagroundc {
  background-color: #2196f3;
}

.lorem-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15px;
  column-gap: 30px;
}

.light-gray {
  background-color: var(--light-gray);
}

.white {
  background-color: #ffffff;
}

.shadow {
  box-shadow: 00px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;

}

.section60 {
  padding: 60px 0;
}